@charset "utf-8";
/* CSS Document */

*{outline:none; margin:0;}
body{ background:url(../images/mainbg.gif) repeat-x left top; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#323a40; font-weight:normal; margin:0; padding:0;}
img{ border:none;}
.clear{clear:both; height:1px; line-height:1px; font-size:1px;}
.padLeft5{ padding-left:5px;}
.padRight27{ padding-right:24px;}
.padRight10{ padding-right:10px;}
.padTop8{ padding-top:8px;}

.red{  color:#cc1a00;}
.fl{ float:left;}
.fr{ float:right;}
.welcomeBorder{ background:url(../images/welcome_border.jpg) no-repeat center bottom;}
.clientThink{ background:url(../images/client_think.jpg) no-repeat center bottom;}


/*--------------------WRAPPER----------------------*/
#wrapper{ width:1001px;  margin:0 auto; padding:0;}
/*--------------------END WRAPPER----------------------*/

/*--------------------HEADER----------------------*/
.header{  padding:31px 0 24px 0; width:993px; margin:auto;}
.header h1{ width:475px; margin:12px 0 0 0; float:left;}
.header h1 a{  font:bold 32px Arial, Helvetica, sans-serif; color:#074081; text-decoration:none; height:84px; display:block; padding:0 0 0 0;}

.header .hedRight{ width:497px; float:right; padding:14px 0 0 0;}
.header .hedRight .phone{ margin-top:5px; float:right; height:88px; padding-left:37px; background:url(../images/mobile.png) no-repeat left top; font:22px/27px Arial, Helvetica, sans-serif; color: #fff; padding:10px 0 0 61px;}

.header .hedRight .link span{float:left; line-height:28px;}
.header .hedRight .link a:hover, .header .hedRight .link a.active{ color:#fff; height:14px; text-decoration:none; padding:7px; border:1px solid #ff0000; background:#da0101;}
.header .hedRight .topContent{ font:15px Arial, Helvetica, sans-serif; color:#7c7c7c; padding:11px 0 0 0;}
.mb{ float:right; margin:0 0 0 32px;}
/*--------------------END HEADER----------------------*/

/*--------------------NAVIGATION----------------------*/
.navigation{ width:993px; margin:0 auto; background:url(../images/nav_bg.jpg) repeat-x left top; height:49px; padding:0;}
.navigation .navLeft{ width:950px; float:left;}
.navigation .navLeft ul{ list-style:none; margin:0; padding:0;}
.navigation .navLeft ul li{  list-style:none; margin:0; float:left; background:url(../images/nav_divider.jpg) no-repeat left top;}
.navigation .navLeft ul li span.last{ background:url(../images/nav_divider.jpg) no-repeat right top;  list-style:none; margin:0; float:left; padding-right:2px; }

.navigation .navLeft ul li a{ float:left; height:33px;  padding:16px 32px 0 31px; font:15px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none; letter-spacing:1px; margin:0 1px 0 2px;}
.navigation .navLeft a:hover, .navigation .navLeft a.active{ background:url(../images/nav_hover.jpg) repeat-x left top;}

.navigation	.socialIcon{ width:98px; padding:9px 0 0 0; float:right;}
.padRight22{ padding-right:22px;}
/*--------------------END NAVIGATION----------------------*/

/*--------------------BANNER----------------------*/
.banner{ width:993px; height:254px; margin:0 auto;}


#lveis-wrapper_3 .lveisnav {
	margin-top:12px;
	backgorund:#000!important;
    display: block;
    height: 18px;
    padding: 3px 4px 1px 4px;
	border:1px solid #dedddd;
    position: relative;
    text-align: right;
    z-index: 20;
	text-align: right;
	width:437px!important;
	

}

#lveis-wrapper_3 .lveisnav a {
    color: #000000;
    font-family: Arial,Helvetica,Sans-Serif !important;
    font-size: 14px !important;
    margin: 1px;
    padding: 2px 11px !important;
    text-decoration: none;
}
.activeSlide{ background:#c81a00!important; color:#fff!important;}

#lveis-wrapper_3 .lveisindex a {
    background:#ccc;
}
/*--------------------END BANNER----------------------*/

/*--------------------CONTENT AREA----------------------*/
.co{ float:left; width:200px; font:15px/24px Arial, Helvetica, sans-serif;}
.bluebg{ background:url(../images/footerbg.jpg) repeat-x left top; padding-bottom:0px;}
.contentArea{ background:url(../images/cotentbg.jpg) repeat-y center top; padding:20px 19px 10px 20px; width:962px; margin:0 auto; clear:both;}
.contentArea p{ font:15px/22px Arial, Helvetica, sans-serif; color:#323a40; padding:0 0 20px 0;}

.contentArea h1{ font:22px Arial, Helvetica, sans-serif; color: #000; margin:0 0 20px 0; line-height:normal; padding:0 0 11px 0;}
.contentArea .leftPanel p, .contentArea .rightPanel p{ font:15px/25px Arial, Helvetica, sans-serif; color:#323a40; padding:0 0 25px 0; text-align:justify;}

.black{ color:#000!important;}
.leftPanel{ width:474px; float:left;}
.someServiceCover{ padding:5px 0 0 0;}
.someServiceCover .someServiceTop{ background:url(../images/some_serv_top.jpg) no-repeat center top; height:8px;}
.someServiceCover .someServiceMid{ background:#f7f7f7; border-left:1px solid #dedddd;  border-right:1px solid #dedddd; padding:0px 13px;}
.someServiceCover .someServiceMid h3{ font:16px Arial, Helvetica, sans-serif; color:#000; font-weight:bold; padding:0 0 6px 0; margin:0;}
.someServiceCover .someServiceMid h4{ font:14px Arial, Helvetica, sans-serif; color:#000; font-weight:bold; padding:0 0 6px 0; margin:0;}
.someServiceCover .someServiceMid p{ font:12px Arial, Helvetica, sans-serif; color:#000000; padding:0 0 15px 0; margin:0;}
.someServiceCover .someServiceMid .boxServ{ width:216px; float:left;}
.someServiceCover .someServiceMid .boxServ img.borderImg{ border:1px solid #86a0be;}
.stxt{ width:106px; float:right;}
.someServiceCover .someServiceMid .boxServFull{ width:406px; float:left;}
.someServiceCover .someServiceMid .boxServFull img.borderImg{ border:1px solid #86a0be;}
.stxtFull{ width:292px; float:left; padding-left:10px;}
.videostxtFull{ width:192px; float:left; padding-left:10px;}


.someServiceCover .someServiceBottom{ background:url(../images/some_serv_bottom.jpg) no-repeat center top; height:8px; padding-bottom:8px;}


.rightPanel{ width:447px; float:right;}
.rightPanel .cLogo{ padding:0 0 50px 0;}
.rightPanel ul.list{ list-style:none; margin:0; padding:0;}
.rightPanel ul.list li{ list-style:none; font-size:15px; color:#323a40; margin:0; padding:7px 0 7px 30px; background:url(../images/right_arrow.jpg) no-repeat left 9px;}


.rightPanel .readMore{ margin-left:334px; margin-top:40px; display:block; text-align:center; color:#fff; text-decoration:none; font:bold 12px/27px Arial, Helvetica, sans-serif;}

/*--------------------END CONTENT AREA----------------------*/

.footerTopLink{ color:#fff; background:url(../images/footer_top_boxbg.jpg) no-repeat center top; width:919px; padding:35px 42px 0 42px; height:74px; margin:0 auto;}
.footerTopLink a{ font:12px Arial, Helvetica, sans-serif; color:#fff; padding:0 5px; text-decoration:none;}
.footerTopLink a:hover{ text-decoration:underline;}
.footerTopLink .powerBy{ }
.footerTopLink ul li{ list-style:none; margin:0; padding:0 0 12px 0; font-size:15px; color:#FFF;}



/*--------------------FOOTER----------------------*/
.footer{ padding:0; width:1001px; margin:0 auto; text-align:center; font:12px Arial, Helvetica, sans-serif; color:#fff;}

.footer .copyright{ margin:10px 0 0 10px; padding:0; list-style:none; float:left; width:680px;}
.footer .copyright li{ margin:0; padding:0;   float:left;}
.footer .copyright li a{color:#fff; text-decoration:none; }
.footer .copyright li a:hover{ text-decoration:underline; }

.footer .social-icons{ margin:0; padding:0; list-style:none; float:right; width:300px;}
.footer .social-icons li{ margin:0 5px; padding:0; }


.footer a{ }
.footer a:hover{ text-decoration:underline;}


/*--------------------INNER PAGE----------------------*/
.map{ float:right; width:463px; height:246px; border:1px solid #333;}
.mapText{ width:445px; float:left;}
.testimonials{}

.contentArea a{ font:13px Arial, Helvetica, sans-serif; color:#0c4e9a;}
.contentArea a:hover{ text-decoration:none;}
.testimonials ul {
    list-style: none outside none;
	width:800px;
	margin:0 0 0 80px;
	padding:0;
}
.testimonials li {
    background: url("../images/testi_mid.jpg") repeat-y scroll 0 0 transparent;
    margin-bottom: 20px;
    width: 800px;
}
.testimonials li .tTop {
    background: url("../images/testi_top.jpg") no-repeat scroll 0 0 transparent;
}
.testimonials li .tBot {
    background: url("../images/testi_bot.jpg") no-repeat scroll 0 bottom transparent;
    min-height: 55px;
	
    padding: 25px 55px 50px 55px;
}
.testimonials li .tBot p{ text-align:justify;}

.serviceList{ width:100%; float: left;}
.serviceList ul{ list-style:none; margin:0; padding:0;}
.serviceList ul li{ list-style:none; padding:0px 5px; display:inline; float:left; margin:0 ; width:auto!important; font:15px Arial, Helvetica, sans-serif;}
.serviceList ul li span {
    display: block;
    float: left;
    position: relative;
    width: 150px;
	padding:0 15px 0 0;
}
.serviceList ul li span img{
	border:1px solid #dedede;
}
.serviceList ul li h3 {
    background-image: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    padding: 0 0 5px 15px;
}
.serviceList ul li h4 {
    background-image: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    padding: 0 0 5px 15px;
}
.serviceList ul li p {
    font-size: 15px;
    line-height: 21px;
    padding-left: 15px;
	color:#000;

}
.serviceList ul li p a{
	border:1px solid #dedede;
}


.phoneIcon{ background:url(../images/phone_icon.jpg) no-repeat left top; display:block; height:20px; line-height:24px; padding:0 0 10px 28px;}
.mailIcon{ background:url(../images/mail_icon.jpg) no-repeat left top; display:block; height:20px; line-height:24px; padding:0 0 0 28px;}
.auto{ color:#1898d5; font-weight:bold}
.refurb{ color:#0b4e9a;font-weight:bold}

.autoBig{ color:#c81a00;}
.refurbBig{ color:#0b4e9a;}
/*slider*/


.slider{ padding:0px; margin:0px; float:left;}

.header-banner{
margin:0;
padding:0;
float:left;
width:993px;
height:303px;
position:relative;
background:url(../images/home-header-bg.jpg) top left;

}


#slideshow {
	margin:0;
	width:1001px;
	height:303px;
	background:transparent url(https://www.inspiredtiling.co.uk/images/header-bg.jpg) no-repeat 0 0;
	
}
#slideshow #slidesContainer {
  margin:0;
  width:993px;
  height:303px;
  overflow:auto; /* allow scrollbar */
  
}
#slideshow #slidesContainer .slide {
  margin:0;
  width:1001px; /* reduce by 20 pixels of #slidesContainer to avoid horizontal scroll */
  height:303px;
  float:left;
}

/** 
 * Slideshow controls style rules.
 */
.control {
  display:block;
  width:39px;
  height:263px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
}
#leftControl {
  top:100px;
  right:493px;
  background:transparent url(../images/pre-bt.png) no-repeat 0 0;
  width:64px;
height:85px;
}
#rightControl {
  top:100px;
 left:0;
background:transparent url(../images/next-bt.png) no-repeat 0 0;
width:64px;
height:85px;
}

/** 
 * Style rules for Demo page
 */

#pageContainer {
  margin:0 auto;
  width:1001px;
}
#pageContainer h1 {
  display:block;
  width:960px;
  height:114px;
  background:transparent url(https://www.inspiredtiling.co.uk/css/img/bg_pagecontainer_h1.jpg) no-repeat top left;
  text-indent: -10000px;
}
.slide h2, .slide p {
  margin:15px;
}
.slide h2 {
 
  color:#fff;
  letter-spacing:-1px;
  width:368px;
  padding-right:50px;
  float:right;
  font-size:36px;
  margin-left:0;
    margin-right:60px;

  margin-top:30px;
  margin-bottom:0;
  padding:0;  
  font:30px Arial, Helvetica, sans-serif;

  
}

.slide h2 .quote{
margin-right:10px;
	height: 40px;
	font: bold 70px georgia, serif;
	color: #fff ;
	float: left;
	line-height:60px;
	display: block;

}

.slide h2 .yellow-txt{
color:#f6d912;
}

.slide h2 .white-txt{
font-size:48px;
}

.slide p{
color:#FFFFFF;
width:320px;
float:left;
margin:0;
padding:0;

}
.slide img {
  float:left;
  margin:0;
  padding:0;
}

.slide .image-container {
  float:right;
  margin:0;
  padding:0;
}

.slide .slogans {
  float:right;
  margin:0;
  padding:0;
  width:490px;
}




.content-container{
float:left;
width:1001px;
background:url(https://www.inspiredtiling.co.uk/images/body-bg.png) top left repeat-y;
margin:0;
padding:10px 0 ;


}

.content-bottom-bg{
float:left;
width:1001px;
height:68px;
background:url(https://www.inspiredtiling.co.uk/images/body-bottom-bg.jpg) top left  no-repeat;
margin:0;
padding:0;


}

#quick-menus{

width:94%;
padding:0;
margin:20px auto;


}


#quick-menus ul{
list-style:none;
margin:0 10px 0 0;
padding:0;
width:298px;
float:left;
border-right:1px solid #dedddc;
}

#quick-menus ul.no-border{

border-right:none;
}

#quick-menus li{

margin:0;
padding:0;
float:right;





}


#quick-menus li.thumb{

margin:0 10px 0 0;
padding:6px;
border:1px solid #d0cfcf;
float:left;
width:120px;



}

#quick-menus h2{

margin:0 0 8px 0;
padding:0;
color:#007f7f;
font-size:18px;
text-transform:uppercase;


}

#quick-menus li ul{
margin:0;
padding:0;
list-style:none;
float:left;
width:150px;
border-right:none;
}


#quick-menus li li{
margin:0;
padding:0 0 10px 10px;
background:url(https://www.inspiredtiling.co.uk/images/arrow-icon.jpg) left 2px  no-repeat;
float:left;
width:140px;

}

#quick-menus li li.no-arrow{

background:none;


}



 .reserve-button {
	display: block;
	width:295px;
	height: 54px;
	margin-top: 10px;
	padding-top: 10px;
	padding-left:0;
	background: url(https://www.inspiredtiling.co.uk/images/reserve-button.jpg) no-repeat left top;
	text-align: center;
	font-size: 24px;
	font-weight:bold;
	color: #FFFFFF;
	float:left;
	text-decoration:none;
	text-transform:uppercase;
	text-shadow: #a38a13  1px 1px 1px;
	letter-spacing:-1px;
}

.reserve-button:hover {
	
	background: url(https://www.inspiredtiling.co.uk/images/reserve-button-hover.jpg) no-repeat left top;
	text-decoration:none;
	
	color: #FFFFFF;
	
}


 .reserve-button-inner {
	
	width:100%;
	height: 54px;
	margin-top: 10px;
	margin-bottom:10px;
	padding-top: 12px;
	padding-left:5px;
	
	background: url(https://www.inspiredtiling.co.uk/images/reserve-button-inner.jpg) no-repeat left top;
	text-align: center;
	font-size: 22px;
	font-weight:bold;
	color: #FFFFFF;
	float:right;
	text-decoration:none;
	text-transform:uppercase;
	text-shadow: #a38a13  1px 1px 1px;
	letter-spacing:-1px;
}

.reserve-button-inner:hover {
	
	background: url(https://www.inspiredtiling.co.uk/images/reserve-button-hover-inner.jpg) no-repeat left top;
	text-decoration:none;
	
	color: #FFFFFF;
	
}



 .more-button {
	display: block;
	width:72px;
	height: 22px;
	margin-top: 10px;
	padding-top: 4px;
	background:#f6d912;
	border:1px solid #f6c917;
	text-align: center;
	font-size:12px;
	font-weight:bold;
	color: #005050;
	float:left;
	text-decoration:none;
	
	
	
}

.more-button:hover {
	
	background:#3b8c98 ;
	text-decoration:none;
	border:1px solid #297d87;
	color: #FFFFFF;
	
}




#left-container{

width:633px;
padding:0;
margin:20px 30px;
float:left;

}


#left-container h1{
font-size:24px;
color:#000000;
margin:0 0 10px 0;
padding:0 0 10px 0;
border-bottom:2px solid #eeedec; 

}


#left-container h1 span{
color:#007f7f;


}


#left-container h2{
font-size:18px;
color:#000000;
margin:10px 0 10px 0;
padding:10px 0 0 0;


}



#left-container p{
color:#4a494a;
line-height:24px;
margin:5px 0 10px 0;
padding:0;  
}


#left-container ul{ list-style:none; margin:0 30px 0 0; padding:0; float:left;  }
#left-container li{  margin:0; padding:0;  }

#left-container li ul{ list-style:none; margin:0; padding:0; }
#left-container li li{  margin:0; padding:10px 0 10px 40px ; font-size:14px; color: #666666;  background:url(https://www.inspiredtiling.co.uk/images/arrow-1.jpg) left 2px no-repeat;}

#left-container .gallery-thumb{ list-style:none; margin:00; padding:0; float:left; width:100%;  }
#left-container .gallery-thumb li{  margin:0; padding:0; float:left  }
#left-container .gallery-thumb li img{  margin:0 20px 20px 0 ; padding:0;  border:6px solid  #CCCCCC; text-align:center;   }
#left-container .gallery-thumb li p{  margin:0 ; padding:0; }


#right-container{
float:right;
width:270px;
padding:0;
margin:0 30px 20px 0;

}


#left-container img{ border:10px solid #E0E0E0; margin:0 10px 10px 0; }


#right-container ul{
list-style:none;
margin:0;
padding:0;

}

#right-container li{
margin:25px 0;
padding:0;

}

#right-container h2{
font-size:18px;
color:#007f7f;
text-transform:uppercase;
margin:0 0 10px 0;
padding:0 0 10px 0;
border-bottom:2px solid #eeedec; 
}




#right-container li ul{
list-style:none;
margin:10px 0 ;
padding:0;

}


#right-container li li{

margin:0;
padding:10px 0 10px 0;
background:url(https://www.inspiredtiling.co.uk/images/dotted-line.jpg) bottom left no-repeat;


}



#right-container li  p{

margin:0;
padding:0;
line-height:24px;


}

#right-container li li .photo-thumb{

margin:0 0 5px 0 ;
padding:0;
text-align:center;
border:8px solid #d5d3d3;

}
.serviceList-mid { margin: 0 0 0px 1px; padding:0 0 0px 0;  background:#f7f7f7; border-left:1px solid #dedddd;  border-right:1px solid #dedddd; padding:6px 5px;}

.midPanel ul.mList{ list-style-type: none; margin: 0 0 0px 1px; padding:0 0 0px 0;  background:#f7f7f7; border-left:1px solid #dedddd;  border-right:1px solid #dedddd; padding:6px 25px 15px 25px;}
.midPanel ul.mList li{ padding:5px 0; text-align:left; line-height:18px; margin:0; font-family:Arial, Helvetica, sans-serif; font-size:22px; color:#666; background: url(../images/red-arrow.jpg) no-repeat  right 11px; border-bottom: 1px solid #CCC;}

.midPanel ul.mList li a{ color:#666; text-decoration:none; font-weight: bold;}

.midPanel ul.mList li a:hover{ color:#c92404; text-decoration:none;}

.services-hed{ font-size: 12px; font-weight: bold; line-height: 16px; padding: 0 0 5px 15px; color:#dedede;}
