.gallery {
	margin: 0 0 20px;
	width: 437px!important;
	position: relative;
	overflow: hidden; height:220px;
}
.gallery .holder {
	width: 100%;
	position: relative;
	overflow: hidden;
	z-index: 2;
}
.gallery .holder ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 30000px;
}
.gallery .holder ul li {
	float: left;
	width: 446px;
	padding: 0 1px 1px 0;
}
.gallery .holder ul li img { display: block; }
/* vertical mode */
.gallery-vert { width: 240px; }
.gallery-vert .holder { height: 562px; }
.gallery-vert .holder ul { width: auto; }
.gallery-vert .holder ul li { float: none; }
.gallery-vert .holder ul li img {
	vertical-align: top;
	display: inline;
}
/* one item */
.gallery-one,
.gallery-vert-one { width: 240px; }
.gallery-vert-one .holder { height: 180px; }
.gallery-vert-one .holder ul { width: auto; }
.gallery-vert-one .holder ul li { float: none; }
.gallery-vert-one .holder ul li img {
	vertical-align: top;
	display: inline;
}
/* fade */
.gallery-fade { width: 240px; }
.gallery-fade .holder ul {
	width: 100%;
	height: 180px;
}
.gallery-fade .holder ul li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 180px;
	padding: 0;
}
/* gallery6 */
.gallery6 { width: 740px; }
.gallery6 .thumbs {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	width: 120px;
}
.gallery6 .thumbs li { padding: 0 0 1px; }
.gallery6 .thumbs li a {
	position: relative;
	overflow: hidden;
	display: block;
	width: 100%;
}
.gallery6 .thumbs li span {
	position: absolute;
	top: 0;
	left: 0;
	background: url(https://www.inspiredtiling.co.uk/images/fader.png);
	width: 100%;
	height: 90px;
	text-indent: -9999px;
	cursor: pointer;
}
.gallery6 .thumbs li .active span,
.gallery6 .thumbs li a:hover span { background: none; }
.gallery6 .thumbs img { vertical-align: top; }
.gallery6 .holder {
	float: left;
	width: 480px;
	margin: 0 10px;
	display: inline;
}
.gallery6 .holder ul {
	width: 100%;
	height: 360px;
}
.gallery6 .holder ul li { height: 360px; }
.gallery6 .control {
	position: absolute;
	top: -40px;
	left: 0;
	background-color: #fff;
	padding: 5px;
	width: 70px;
}
.gallery6 .prev { left: -50px; }
.gallery6 .next { right: -50px; }
.gallery6 .title {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #000;
	color: #fff;
	padding: 10px;
	width: 460px;
}
.paging {
	position: absolute;
	top: 180px;
	left: 0;
	margin: 0px;
	padding: 1px 0px 1px 355px;
	z-index: 100; border: 1px solid #CCC; width: 80px;
}
.paging ul { 
	margin: 0;
	padding: 0;
}
.paging li { 
	padding: 0 2px 0 0;
	float: left;
	list-style: none; 
}
.paging li a { 
	width: 14px;
	height: 14px;
	display: block;
	background-color: #CCC;
	text-align: center;
	text-decoration: none;
	color: #000;
	padding: 5px;
}
.paging li a.active {
	background-color: #c81a00;
	color: #FFF;
}



.next,
.prev {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -30px;
	width: 40px;
	height: 40px;
	background: url(https://www.inspiredtiling.co.uk/images/btn-next.png) no-repeat;
	z-index: 20;
	overflow: hidden;
	text-indent: -9999px;
	outline: none;
	cursor: pointer;
}
.next-disable { background: url(https://www.inspiredtiling.co.uk/images/btn-next-disable.png) no-repeat; }
.prev {
	background: url(https://www.inspiredtiling.co.uk/images/btn-prev.png) no-repeat;
	right: auto;
	left: 10px;
}
.prev-disable { background: url(https://www.inspiredtiling.co.uk/images/btn-prev-disable.png) no-repeat; }
.stop,
.start {
	background: url(https://www.inspiredtiling.co.uk/images/btn-pause.png) no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	float: left;
	margin: 0 0 0 10px;
	outline: none;
	cursor: pointer;
}
.stopped .start { background: url(https://www.inspiredtiling.co.uk/images/btn-play.png) no-repeat; }
.start,
.no-active .start {
	margin: 0;
	background: url(https://www.inspiredtiling.co.uk/images/btn-play-disable.png) no-repeat;
}
.stopped .stop { background: url(https://www.inspiredtiling.co.uk/images/btn-pause-disable.png) no-repeat; }
.control {
	font-size: 18px;
	line-height: 21px;
	padding: 5px 0 0;
}
.nav {
	position: fixed;
	top: 150px;
	left: 0;
	padding-left: 10px;
	z-index: 100;
	border-right: 1px solid #ddd;
	width: 115px;
	background: #f4f5f5;
}
.nav strong {
	font-size: 14px;
	line-height: 17px;
	color: #686c70;
}
.nav ul {
	margin: 0;
	padding: 14px 0 0;
	list-style: none;
}
.nav ul li { padding: 0 0 5px; }
#footer {
	text-align: center;
	background: #f9f9f9;
	border-top: 1px solid #ddd;
	width: 100%;
}
#footer .hold {
	padding: 15px 0;
	width: 974px;
	margin: 0 auto;
}
#footer p {
	margin: 0;
	color: #888;
	font-size: 11px;
	line-height: 14px;
}